

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>设置我的密码</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">修改密码</div>
          <div class="layui-card-body" pad15>
            
            <div class="layui-form" lay-filter="">
              <div class="layui-form-item">
                <label class="layui-form-label">当前密码</label>
                <div class="layui-input-inline">
                  <input type="password" name="oldPassword" id="oldPassword" lay-verify="required" lay-verType="tips" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux" id="tishi" style="color: red"></div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-inline">
                  <input type="password" name="password"  lay-verify="pass" lay-verType="tips" autocomplete="off" id="password" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">确认新密码</label>
                <div class="layui-input-inline">
                  <input type="password" name="repassword" id="repassword" lay-verify="password" lay-verType="tips" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn" id="sub" lay-submit lay-filter="setmypass">确认修改</button>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'set'],function () {
    var $ = layui.$
     ,form = layui.form;
    $("#oldPassword").blur(function () {
      var oldPassword = $(this).val();
      $.ajax({
        type: "get",   //提交的方法
        dataType: "text",
        contentType : 'application/json',
        url:"http://127.0.0.1/getUserById", //提交的地址
        data:{oldPassword:oldPassword},
        beforeSend: function(request) {
          request.setRequestHeader("token",localStorage.getItem("token"));},
        error: function(request) {  //失败的话
          layer.msg('你还未登录,请先去登陆', {
            offset: '15px'
            ,icon: 1
            ,time: 1000
          }, function(){
            window.location.href="user/login.html";
          });
        },
        success: function(data) {  //成功
          if (data=="false") {
           $("#tishi").html("<span style='color: red'>旧密码输入错误！</span>");
          }else{
            $("#tishi").html("<span style='color: #00FF00;font-size: 20px'><b>√</b></span>");
          }
        }
      });
    })

    $("#sub").click(function(obj){

      var oldPassword=$("#oldPassword").val();
      var repassword=$("#repassword").val();
      var password=$("#password").val();

      $.ajax({
        type: "get",   //提交的方法
        dataType: "text",
        contentType : 'application/json',
        url:"http://127.0.0.1/updatePassword", //提交的地址
        data:{password:password},
        beforeSend: function(request) {
          request.setRequestHeader("token",localStorage.getItem("token"));},
        error: function(request) {  //失
          // 败的话
          layer.msg('你还未登录,请先去登陆', {
            offset: '15px'
            ,icon: 1
            ,time: 1000
          }, function(){
            parent.location.href="../.././user/login.html";
          });
        },
        success: function(data) {  //成功
          if (data=="true") {
            layer.msg('修改密码成功，请重新登录！', {
              offset: '15px'
              ,icon: 1
              ,time: 1000
            }, function(){
              localStorage.setItem("token",null);
              parent.location.href="../.././user/login.html";
            });
          }else{
            layer.msg('修改失败', {
              offset: '15px'
              ,icon: 1
              ,time: 1000
            });
          }
        }
      });

    });
  });



  </script>
</body>
</html>